p, li, tbody, h3, h5 {
  font-family: 'Lato', sans-serif;
}

/*fonts
-----------------------------------------*/
.content-name {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #f1f1f1;
  font-size: 4rem;
  letter-spacing: 0.3rem;
}

.lead-text {
font-family: 'Cardo', serif;
color: #f1f1f1;
font-size: 1.5rem;
}

/*Sections
----------------------------*/
#info {
  padding-top: 4rem;
  padding-bottom: 10rem;
}

#osaaminen {
  padding-top: 2rem;
  background-color: #e8e8e8;
  padding-bottom: 2rem;
}

#tyot {
  padding-top: 2rem;
  background-color: ;
  padding-bottom: 2rem;
}

#contact {
  padding-top: 2rem;
  background-color: #1a1a2e;
  padding-bottom: 2rem;

}

/*Containers
----------------------------*/
.container-fluid {
  padding: 3% 15%;
  margin-top: 8%;
}

/*Home page background image
---------------------------------------------------*/
.mynav {
  background-image: url('../images/saari.jpg');
  height: 100vh;
  min-height: 500px;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color:#777;
}

/*Transparent image text on background image*/
.content {
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.8); /* Black background with 0.4 opacity */
  color: #f1f1f1;
  padding: 20px; /* Some padding */
  letter-spacing: 0.3rem;
}


/*Jumbotron with navigation bar (CV-page)
------------------------------------------------------------*/
.myjumbotron {
  background-image: url('../images/verso.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 6rem;
  margin-bottom: 3.5rem;
  background-color:#777;
}

.jumbotron-text {
  padding-top: 4rem;
  color: white;
  margin-top: 5rem;
  text-align: center;
}

/* Navigation bar ---------
----------------------------------------------*/

.navbar {
  background-color: transparent !important;
  }

.navbar .navbar-brand {
  color: white;
  font-size: 1.3rem;
  font-family: 'Montserrat', sans-serif;
}

/*centers links of navigation bar */
.navbar .navbar-nav {
  margin: 0 auto;
}

/* change the link color and font */
.navbar-custom .navbar-nav .nav-link {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link {
  color: #ffc38b;
}
.navbar-custom .nav-item:hover .nav-link {
  color: #ffc38b;
}


/* Features
----------------------------------------------------- */


/* Thin out the marketing headings */
.featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  text-align: center;
  margin-bottom: 3rem;
  text-transform: uppercase;

}
.feature-box {
  text-align: center;
  padding: 1rem;
}

.icon {
  color: #ea907a;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

.feature-title {
  font-family: "Montserrat";
  font-size: 1.5rem;
  font-weight: bold;
  color: ;
}

.feature-list {
  list-style-type: square;
  text-align: left;
}

.feature-text {
  text-align: left;
}

.button-cv {
  background-color: #ff4c68;
  color: #F5F5F5;
  text-transform: uppercase;
}

.button-cv:hover {
  background-color: #ea907a;
}

/*Työt / projects
-------------------------------------------------- */
.inner {
    overflow: hidden;
}

.inner img {
    transition: all 1.5s ease;
}

.inner:hover img {
    transform: scale(1.5);

}

.button-projects {
    background-color: #F5F5F5;
    color: #ff4c68;
}

.button-projects:hover {
    background-color: #ff4c68;
    color: #F5F5F5;

}

/*Referensces
---------------------------------------------------*/
#carouselReferences {
  padding: 50px 50px 0px 50px;
}

.carousel-item {
  overflow: hidden;
  min-height: 290px;
  margin-top: 30px;
  text-align: center;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff4c68' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff4c68' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

/*CV
-------------------------------------------------- */


.table-title {
  color: #ffa36c;
  font-family: "Montserrat";
  font-weight: bold;
  text-transform: uppercase;

}

.button-cv-2 {
  background-color: #ff4c68;
  color: #F5F5F5;
  text-transform: uppercase;

}

.button-cv-2:hover {
  background-color:  #ea907a;
  color: #F5F5F5;
  text-transform: uppercase;

}


/*Footer
-------------------------------------------------- */

.footer {
  text-align: center;

}

.footer-copyright {
  margin-bottom: 1rem;
}

/*responsive css
-------------------------------------------------- */
@media (max-width:900px) {
  .content-name {
    font-size: 2rem;
  }
}
