p, li, tbody, h3, h5 {
  font-family: 'Lato', sans-serif;
}

  .skill-divider {
  border: dotted #EAF6F6 5px;
  border-bottom: none;
  width: 3%;
}

/*Home page background image
---------------------------------------------------*/
.mynav {
  background-image: url('../images/saari.jpg');
  height: 100vh;
  min-height: 500px;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color:#777;
}

/*Transparent image text on background image*/
.content {
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.4); /* Black background with 0.4 opacity */
  color: #f1f1f1; /* Grey text */
  padding: 20px; /* Some padding */
  letter-spacing: 0.3rem;
}

/*Jumbotron with navigation bar
------------------------------------------------------------*/
.myjumbotron {
  background-image: url('../images/verso.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 6rem;
  margin-bottom: 3.5rem;
  background-color:#777;
}

.jumbotron-text {
  padding-top: 4rem;
  color: white;
  margin-top: 5rem;
  text-align: center;
}

/* Navigation bar ---------
----------------------------------------------*/

.navbar {
  background-color: transparent !important;
  }

.navbar .navbar-brand {
  color: white;
  font-size: 1.3em;
  font-family: 'Montserrat', sans-serif;
}

/*centers links of navigation bar */
.navbar .navbar-nav {
  margin: 0 auto;
}

/* change the link color and font */
.navbar-custom .navbar-nav .nav-link {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link {
  color: #ffc38b;
}
.navbar-custom .nav-item:hover .nav-link {
  color: #ffc38b;
}

/*Containers
----------------------------*/

.first-container {
  margin-top: 5rem;
}

/* Featurettes
----------------------------------------------------- */

.featurette-divider {
   margin: 3rem 0;/* Space out the <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;

}

/* responsive css */

.featurette-heading {
    font-size: 50px;
  }

  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 5rem;
    }


/* Progress bar in skills page
-------------------------------------------------- */

.labels {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  span {
    color: #666;
  }
}

/*Footer
-------------------------------------------------- */

.footer {
  text-align: center;
  margin-top: 40px;
}

.footer-copyright {
  margin-top: 3rem;
}
